*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}

*:-moz-placeholder {
    color: #666;
    opacity: 1;
}

*::-moz-placeholder {
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {}

body input:required:valid,
body textarea:required:valid {}

body {
    font-family: "RobotoRegular", sans-serif;
    font-size: 16px;
}

.calc_wrap h1 {
    width: 100%;
    display: block;
    text-align: left;
    margin-top: -27px;
    margin-bottom: 6px;
    font-size: 16px;
    color: #fff;
}

.calc_wrap span {
    font-family: initial;
    font-size: 20px;
}

.calc_wrap {
    position: relative;
    text-align: -moz-center;
    text-align: center;
    text-align: -webkit-center;
    margin-top: 100px;
    margin-bottom: 200px;
}
#reset {
    width: 100%;
}
#numArr {
    width: 40%;
}
#num0 {
    width: 40%;
}
.form_calc {
    padding: 30px;
    height: 365px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -moz-box-shadow: 6px -2px 13px rgb(17, 16, 16);
    ;
    /*FF 3.5+*/
    -webkit-box-shadow: 6px -2px 13px rgb(17, 16, 16);
    ;
    /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 6px -2px 13px rgb(17, 16, 16);
    ;
    /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    background: -o-linear-gradient(69deg, #2C0909 2%, #B5B5B5 94%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(69deg, #2C0909 2%, #B5B5B5 94%);
    /* IE10+ */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#2C0909', endColorstr='#B5B5B5', GradientType='1');
    /* for IE */
    background: linear-gradient(69deg, #2C0909 2%, #B5B5B5 94%);
    /* W3C */
}

.form-control {
    margin: auto;
    height: 45px;
    width: 80%;
    text-align: right;
    color: #010101;
    background-color: #A6EA69;
    font-size: 23px;
}
.btn-wrap {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}
.btn-wrap.btn-narrow{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.btn-default {
    color: #fff;
    background: -webkit-linear-gradient(66deg, #303030 0, #6E6E6E 50%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(66deg, #303030 0, #6E6E6E 50%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(66deg, #303030 0, #6E6E6E 50%);
    /* IE10+ */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1');
    /* for IE */
    background: linear-gradient(66deg, #303030 0, #6E6E6E 50%);
    /* W3C */
    border-color: #ccc;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #fff;
    background: -webkit-linear-gradient(266deg, #303030 0, #6E6E6E 50%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(266deg, #303030 0, #6E6E6E 50%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(266deg, #303030 0, #6E6E6E 50%);
    /* IE10+ */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#303030', endColorstr='#6E6E6E', GradientType='1');
    /* for IE */
    background: linear-gradient(266deg, #303030 0, #6E6E6E 50%);
    border-color: #adadad;
}

.btn {
    width: 20%;
    height: 40px;
    padding: 0 5px;
    font-size: 16px;
}
.equally {
    width: 20%;
    height: 80px;
    position: absolute;
    top: -40px;
    right: 0;
}

.historyList {
    background: -o-linear-gradient(69deg, #857C7C 2%, #EFEFEF 94%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(69deg, #857C7C 2%, #EFEFEF 94%);
    /* IE10+ */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#857C7C', endColorstr='#EFEFEF', GradientType='1');
    /* for IE */
    background: linear-gradient(69deg, #857C7C 2%, #EFEFEF 94%);
    /* W3C */
    -moz-box-shadow: 6px -2px 13px rgb(17, 16, 16);
    ;
    /*FF 3.5+*/
    -webkit-box-shadow: 6px -2px 13px rgb(17, 16, 16);
    ;
    /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 6px -2px 13px rgb(17, 16, 16);
    ;
    /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
}

.historyList span {
    font-size: 20px;
    text-shadow: none;
    color: #0063B7;
}

.historyList p {
    font-size: 20px;
}
